@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/roboto.regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/roboto.medium.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/roboto.bold.ttf') format('truetype');
}

.header1 {
    font-family: Roboto-Bold;
    font-size: 2.25em;
}

.title {
    font-family: Roboto-Bold;
    font-size: 1.25em;
    color: #37479e;
}

.subheader {
    font-family: Roboto-Medium;
    font-size: 1.25em;
}

.body1 {
    font-family: Roboto-Regular;
    font-size: 1.125em;
}

.body2 {
    font-family: Roboto-Medium;
    font-size: 1em;
}

.body3 {
    font-family: Roboto-Regular;
    font-size: .875em;
}

.caption {
    font-family: Roboto-Regular;
    font-size: .75em;
}

.interactive-text {
    font-family: Roboto-Medium;
    font-size: 1em;
}

.interactive-text2 {
    font-family: Roboto-Medium;
    font-size: .875em;
}


/*///transition classes start///*/

.fadeProj {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


/*///transition classes end///*/

.panel-login {
    margin: 32px;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #31708f;
    border-bottom: 3px solid;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-login {
    /*background-color: #59B2E0;*/
    outline: none;
    color: #fff;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    /*border-color: #59B2E6;*/
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #31708f;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}

#fb-img {
    float: right;
    cursor: pointer;
    pointer-events: none;
}

#fb-img:hover {
    box-shadow: 0px 3px 6px #3b5998;
    transition: all .5s ease;
}

#google-img {
    cursor: pointer;
    border-radius: 3px;
}
#google-img:hover {
    box-shadow: 0px 3px 16px rgba(153, 153, 153, 0.3);
    transition: all .5s ease;
}
input[disabled] {
    pointer-events: none;
}

#main-content {
    margin-top: 3.6em;
    padding: 0;
}

body {
    background: rgb(238, 238, 238);
}

.disabledOpacity {
    opacity: 0.3
}

.sideBarImgClass {
    max-width: 9em;
    border-radius: 50%;
    margin: 0 auto;
    display: table;
}

ul.sidebar-comp {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul.sidebar-comp li {
    padding: 5px;
}

ul.sidebar-comp li i {
    vertical-align: bottom;
    margin-right: 5px;
}

ul.sidebar-comp li a{
	color:#fff;
}
ul.sidebar-comp li a:hover {
	color:#fff;
    cursor: pointer;
    text-decoration: underline;
}

.sidebar-content {
	width:270px;
	position:fixed;
	/* left:0; */
    padding: 15px 15px 0 15px;
    background: #31708f;
    height: 100vh;
    color: #fff;
	z-index:99;
	overflow:auto;
}

.material-icons {
    vertical-align: middle;
}

.dashboard-card-block {
    background: #f8f8ff;
    padding: 15px;
    margin-top: 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(153, 153, 153, 0.3);
    }
.dashboard-card-block .material-icons{
    color: #31708f;
}

.dashboard-card-title {
    color: #31708f;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
}

.dashboard-card-title:hover {
    text-decoration: underline;
}

.dashboard-card-text {
    padding: 0;
    margin-bottom: 16px;
}

.dashboard-card-img {
    padding: 0;
    width: 4em;
}

.dashboard-card-img img {
    border-radius: 25%;
}

.dashboard-card-block a i,
.create-btn i {
    margin-right: 5px;
}

.post-time {
    float: right;
}

.user-posts {
    margin: 24px 0 24px 20em;
}

.create-btn {
    float: right;
}

.post-form {
    display: none;
}

.userInfo {
    margin-top: 16px;
    text-align: center;
}

.createPost {
    background: rgba(33, 33, 33, .1);
    padding: 10px;
    border-radius: 4px;
}

.PostBody {
    resize: none;
    height: 5em;
}

.postTitle {
    padding: 0;
}

.comments {
    padding: 0;
}

.dashboard {
    margin-right: inherit !important;
    margin-left: inherit !important;
    padding: 0;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../asset/Ellipsis.gif') 50% 50% no-repeat rgba(33, 33, 33, .7);
}
.loaderSmall {
    position: absolute;
    left: 40%;
    top: 45%;
    width: 20%;
    height: 20%;
    z-index: 9999;
    background: url('../asset/small-Loader.gif') 50% 50% no-repeat rgba(33,33,33,.1) ;
}

.alertFont {
    padding: 0.3em;
    text-shadow: 0px 2px 2px rgba(153, 153, 153, 0.3);
}

.cardUserName {
    padding: 0;
    margin-bottom: 10px;
}

.createComment {
    background: rgba(33, 33, 33, .1);
    margin: 24px 0;
    padding: 0 16px;
    border-radius: 4px;
}

.commentButton {
    margin: 16px 0;
}

.commentImage {
    width: 3em;
    padding: 0;
}

.commentImage img {
    border-radius: 25%;
}

.otherUserComment {
    margin: 10px 0 10px 10px;
    /*background: rgba(255, 255, 255, .5);*/
    /*background: linear-gradient(to bottom, #ddd, #f5f5f5);*/
    padding: 8px;
    border-radius: 4px;
    background: #fff;
    color: #212121;
}
.otherUserComment a i {
    margin-right: 5px;
}

.commentTitle {
    padding: 0;
    margin: 0;
}

.commentText {
    padding: 0;
}

.createComment textarea {
    resize: none;
    height: 5em;
}
a{
    cursor: pointer;
    color: #31708f;
}
.logOut:hover{
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.alert-danger{
    margin: 15px;
}
.dashboard-card-text .more-text{
        display: none;
}
.likeSection{
    padding: 0;
    i{
        color: #31708f;
    }
}
.otherUserComment .commentTitle{
    color: #31708f;
}
.otherUserComment .material-icons{
    font-size: 16px;
}
label{
    font-weight: normal;
}
.primary-btn{
    background: #31708f;
    color: #fff;
}
.primary-btn:hover{
    background: #3170a8;
    color:  #fff;
    border-color: #3170a8;
}
.commentBody{
    padding-right: 0;
}
.commentCount{
    color: #212121;
}
.readMore{
    display: inline-block;
    text-decoration: underline;
    color: #31708f;
    cursor: pointer;
}
.postSetting{
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
    color: #31708f;
}
.postSettingOptions{
    display:none;
}
.postSettingOptions ul{
	padding:0;
	list-style-type:none;
}
.postSettingOptions ul li{
	padding:5px 10px;
	background:#31708f;
	color:#fff;
}
.postSettingOptions ul li:hover{
	background:#3170a8;
}
.addFriend{
	display:inline-block;
	color:#31708f;
	cursor:pointer;
	margin: 0 0 0 5px;
	vertical-align:super;
    position: absolute;
    top: 16px;
    right: 0;
}
.addFriend button{
	background:transparent;
	border:none;
}
.addFriend button:active{
	color:#3170a8;
}
.addFriend i.material-icons{
    font-size: 28px;
}
.searchFriendResult{
   padding: 0;
}
.editProfileButton{
	text-align:right;
}
.checkIcon{
	margin-right:7px;
	vertical-align:bottom;
}
.frClose{
	font-size: 14px !important;
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}
.friendRequest{
    margin:10px 0 0 0;
}
/*CSS for Edit Profile starts*/
.full-width{
    float:left;width:100%;min-height:100px;position:relative;
}
.form-style-fake{position:absolute;top:0px;}
.form-style-base{position:absolute;top:0px;z-index: 999;opacity: 0;}
.imgCircle{border-radius: 50%;}
.editProfile{
	bottom:15px;
}
.editProfile input{
	margin:16px 0 !important;
}
.editProfile .form-control{padding: 10px 50px;}
.form-input{height:50px;margin-top: 16px;}
.Profile-input-file{
    height:180px;width:180px;left:33%;
    position: absolute;
    top: 0px;
    z-index: 999;
    opacity: 0 !important;
}
.mg-auto{
    margin:0 auto;max-width: 200px;overflow: hidden;
}
.fake-styled-btn{
    background: #006cad;
    padding: 10px;
    color: #fff;
}
#main-input{width:250px;}
.input-place{
    position: absolute;top:30px;left: 20px;font-size:24px;color:gray;}
.margin{margin-top:10px;margin-bottom:10px;}
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bg-transparent{
    background: rgba(0,0,0,0.5);float: left;
    width: 100%;margin-top: 0px;
}
.custom-form{
    float: left;
    width:100%;
    border-radius: 20px;
    box-shadow: 0 0 16px #fff;
    overflow: hidden;
    background: #eee;
    margin: 16px 0;
}
.img-section{
    float: left;
    height: 10em;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #31708f;
    position: relative;
}
.changeProfilePic span{
    font-size: 35px !important;
    position: absolute;
    bottom: -20px;
    z-index: 999;
    margin-left: 35px;
    cursor: pointer;
}
.img-section h4{
    color:#fff;
}
#PicUpload{
    color: #ffffff;
    width: 180px;
    height: 180px;
    background: rgba(255,255,255,0.4);
    padding: 100px;
    position: absolute;
    left: 30.5%;
    border-radius: 50%;
    display: none;
    top:15px;
}
.camera{
    font-size: 50px;
    color: #333;
}
.custom-btn{
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px 60px;
    margin-bottom: 15px;
}
#checker{
    opacity: 0;
    position: absolute;
    top: 0px;
    cursor: pointer;
}
.color{
    color:#fff;
}

/*====== style for placeholder ========*/

.form-control::-webkit-input-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control:-moz-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control::-moz-placeholder {
    color:lightgray;
    font-size:18px;
}
.form-control:-ms-input-placeholder {
    color:lightgray;
    font-size:18px;
}
.editProfilePicture{
    position: relative;
    top: 2em;
}
.editSection{
    margin-top: 40px;
}
.editProfileHeading{
    text-align: center;
    color: #31708f;
}
.recentPostHeading{
    background: #31708f;
    color: #fff;
    padding: 10px;
}
.recentPostHeading span i {
    float: right;
    cursor: pointer;
}     
.recentPost{
    background: #FFFFFF;
    margin-top: 0;
    padding: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 48%;
}
.recentPostHeadingText{
    float: left;
}
.recentPostBody{
    margin-top: 0;
    border-radius: 0;
}
.recentPostBody .dashboard-card-text{
    margin: 0;
}
.editInfo{
    position: absolute;
    right: 20px;
    bottom: 30px;
    cursor:pointer;
}
.editInfoPanel{
    background: #f8f8ff;
    padding: 10px 0;
    margin-left: 12px;
    border-radius: 4px;
}
.editInfoPanel .material-icons{
    font-size: 20px;
    color: #31708f;
}
.personalInfoPanel{
    border-left: 1px solid #ccc;
}
.editButton{
    margin-top: 16px;
    text-align: center;
}
.notificationComp{
    border-radius:4px;
    margin-bottom: 16px;
}
.notificationHeader{
    background: #fff;
}
.notificationHeader p{
    padding: 12px 12px 12px 0;
    margin: 0 12px;
    
}
.notificationBody p{
    margin: 0;
}
.notificationBody{
    padding: 5px 5px 5px 5px;
}
/*CSS for Edit Profile ends*/

.friendRequestPanel,.friendsPanel{
    padding: 12px;
    border-radius: 4px;
    background: #fff;
    margin-top: 12px;
}
.friendListComp{
    padding: 12px;
}
.friendListComp .otherUserComment{
    background: transparent;
}
.otherUserComment:hover{
    box-shadow: 0px 3px 16px rgba(153, 153, 153, 0.3);
    cursor: pointer;
}
.friendRequestText {
    color: #31708f;
    display: block;
}
hr.divider{
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(49, 112, 143,1), rgba(49, 112, 143,1), rgba(49, 112, 143, .2));
    margin: 10px 0;
}
.editSection .cardUserName{
    margin-bottom: 0;
}

/*CSS for customised Snackbar starts*/
#snackbar {
    
    min-width: 200px;
    margin-left: -100px; 
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 4px; 
    padding: 10px 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
.logOutBtn{
    padding: 0;
}
/* Show the snackbar when clicking on a button (class added with JavaScript)  */
#snackbar.show {
    

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*CSS for snackbar ends*/

/*CSS for customised Scrollbar starts*/

.scrollbar-customised::-webkit-scrollbar-track{
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     background-color: #FFFFFF;
}
.scrollbar-customised::-webkit-scrollbar{
    width: 6px;
    height: 3px;
    background-color: #212121;
}
.scrollbar-customised::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color:  #31708f;
}


/*CSS for customised Scrollbar ends*/

/*CSS for Search Component starts*/

.stylish-input-group .input-group-addon{
    background: white !important; 
    padding: 0;
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.searchComp{
    margin-bottom: 16px;
}
.searchContainer{
    box-shadow: 0px 2px 3px rgba(153, 153, 153, 0.3);
}
.recentSearchResult{
    padding: 0;
}
.searchFriendRequest i.material-icons{
    position: absolute;
    right: 0;
    font-size: 28px;
    color: #31708f;
    cursor: pointer;
}

/*CSS for Search Component ends*/
@media screen and (max-width: 992px) {
    .editInfo{
        bottom: 15px;
    }
    .personalInfoPanel{
        border-left: none;
    }
    .editSection .commentBody{
        padding-left: 8px;
    }
    .editSection .recentPostBody{
        padding: 4px;
    }
    .editSection{
        padding: 8px;
    }
}

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right>li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
    d .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }
    .fb-btn {
        margin: 24px 0;
    }
    .otherUserComment{
        padding: 5px;
    }
    .likeSection .material-icons{
        font-size: 16px;
    }    
    #google-img {
        margin: 0 auto;
        display: table;
        margin-bottom: 16px;
    }
    #fb-img {
        margin: 0 auto;
        display: table;
        float: none;
    }
	.user-posts{
		margin:16px 0 0 0;
		padding:8px;
	}
	.dashboard-card-block{
		margin-top:16px;
	}
	.dashboard-card-img {
        width: 3em;
    }
    .dashboard-card-block {
        padding: 5px;
    }
    .panel-login {
        margin: 16px;
    }
	.postSetting{
		top:3px;
	}
	.post-time{
		margin-right:8px;
	}
	.hamburgerMenuOpen{
		display:block;
		left:0;
		transition:all .5s ease;
	}
	.hamburgerMenuClose{
		display:none;
		left:-300px;
		transition:all .5s ease;
	}
    .personalInfoPanel{
        border-left: none; 
    }
	.friendRequestPanel, .friendsPanel {
		margin: 8px 0;
		padding: 12px;
		border-radius: 4px;
    }
    .recentPost{
        width: 100%;

    }
    .editInfoPanel{
        margin: 12px 0;
    }
}

@media only screen and (max-width:568px) {
    .title {
        font-family: Roboto-Bold;
        font-size: 1em;
        color: #37479e;
        transition: all .5s ease;
    }
    .subheader {
        font-family: Roboto-Medium;
        font-size: 1em;
        transition: all .5s ease;
    }
    .body1 {
        font-family: Roboto-Regular;
        font-size: 1em;
        transition: all .5s ease;
    }
    .body2 {
        font-family: Roboto-Medium;
        font-size: .875em;
        transition: all .5s ease;
    }
    .body3 {
        font-family: Roboto-Regular;
        font-size: .875em;
        transition: all .5s ease;
    }
    .caption {
        font-family: Roboto-Regular;
        font-size: .75em;
        transition: all .5s ease;
    }
    .interactive-text {
        font-family: Roboto-Medium;
        font-size: 1em;
        transition: all .5s ease;
    }
    .interactive-text2 {
        font-family: Roboto-Medium;
        font-size: .875em;
        transition: all .5s ease;
    }
    .recentPostBody{
        margin-top: 0;
    }
    .editSection{
        padding: 4px;
    }
    
}
/*
@media only screen and (min-width: 1400px) {
    #app {
        margin: 0 auto;
        display: table;
    }
}*/

@media only screen and (max-width: 768px) {
.create-btn {
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    box-shadow: 1px 2px 0 0px;
    z-index: 1;
    right: 1em;
    bottom: 2em;
    
}
.dashboard-card-block a i,.create-btn i {
     margin-right: 0px; 
}
.chatWindowMessageChain{
    border-left: none !important;
}
}
/*CSS for messaging Component starts*/
.messageContainer{
    background: #f8f8ff;
    margin-top: 16px;
    border-radius: 4px;
    padding: 6px;
}
.messageContainer .panel-body{
    min-height : 31em;
}
.newMessageCount{
    position: absolute;
    text-align: center;
    right: 0;
    height: 2em;
    width: 2em;
    line-height: 2;
    border-radius: 50%;
    background: #dc3b3b;
    color: #fff;
}
.messageSearch{
    float: right;
    cursor: pointer;
}
.messagePanel{
    padding: 8px;
    margin-top: 0;
    border-radius: 0px;
    overflow: auto;

}
.messageList{
    margin-top: 0;
    height: 92vh;
    background: ghostwhite;
}
.messageContent{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.individualMessage{
    border-bottom: 1px solid #31708f;
    background: ghostwhite;
    padding: 4px 0;
}
.chatWindowImage{
    width:3em;
    padding: 0;   
}
.chatWindowImage img{
     border-radius:50%;
}
.chatWindowUserName{
    border-bottom: 1px solid #31708f;
    color: #FFFFFF;
}
.searchMessage{
    padding: 0;
    border: 0;
    margin: 0 0 10px 0;
    display: none;
}
.searchMessage input{
    width: 100%;
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid dashed;
}
.chatWindow{
    padding: 0px;
    background: #FFFFFF;
    /*margin-top: 12px;*/
}
.writeMessagePanel{
    resize: none;
    border-radius: 4px;
}
.sendMessagePanel{
   padding: 12px;
   background: #31708f;
   /*border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;*/
}
.chatWindowMessageChain{
    height: 34em;
    overflow: auto;
    padding-top: 8px;
    border-left: 1px solid #31708f;
}
.chatWindowHeader{
    padding: 12px;
    background: #31708f;
    /*border-top-right-radius: 4px;
    border-top-left-radius: 4px;*/
}
.profileSetting{
    float: right;
    border-radius: 4px;
    cursor: pointer;
}
.backTobutton{
    cursor: pointer;
    margin: 10px 8px 0 0;
    float: left;
    color: #FFFFFF;
    display: none !important;
}
.profileSetting{
    cursor: pointer;
    margin: 10px 0 0 0;
    float:right;
    color: #FFFFFF;
}
.sendButtonPanel{
    padding-right: 0;
}
.sendButton{
    cursor: pointer;
    float:right;
    margin: 10px 0 0 0;
    color: #FFFFFF;
}
.lastSeen{
    color: #FFFFFF;
    margin: 0;
    padding: 0
}
.messagingComp{
    padding: 0px;
}
.receiverPanel{
    /*margin-top: 8px;*/
    border-radius: 4px;
}
.senderPanel{
    float: right;
    margin: 8px 0; 
    border-radius: 4px;
}
.receiverPanelMsg{
    padding: 8px; 
    background: #eee;
    display: inline-block;
    max-width: 85%;
}
.senderPanelMsg{
    padding: 8px;
    background: ghostwhite;
    max-width: 85%;
    display: inline-block;
    float: right;
}
.receiverMsgTime,.senderMsgTime{
    float: right;
    color: #212121;
}
.createMsgBtn{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 2px 0 0px;
    z-index: 1;
    bottom: 2em;
    margin-top: 1em;
}
/*CSS for messaging Component ends*/
