@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/roboto.regular.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/roboto.medium.ttf') format('truetype');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/roboto.bold.ttf') format('truetype');
}

.header1 {
    font-family: Roboto-Bold;
    font-size: 2.25em;
}

.title {
    font-family: Roboto-Bold;
    font-size: 1.25em;
    color: #37479e;
}

.subheader {
    font-family: Roboto-Medium;
    font-size: 1.25em;
}

.body1 {
    font-family: Roboto-Regular;
    font-size: 1.125em;
}

.body2 {
    font-family: Roboto-Medium;
    font-size: 1em;
}

.body3 {
    font-family: Roboto-Regular;
    font-size: .875em;
}

.caption {
    font-family: Roboto-Regular;
    font-size: .75em;
}

.interactive-text {
    font-family: Roboto-Medium;
    font-size: 1em;
}

.interactive-text2 {
    font-family: Roboto-Medium;
    font-size: .875em;
}


/*///transition classes start///*/

.fadeProj {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


/*///transition classes end///*/

.panel-login {
    margin: 32px;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    padding: 12px;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #029f5b;
    border-bottom: 3px solid;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    /*background-color: #59B2E0;*/
    outline: none;
    color: #fff;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    /*border-color: #59B2E6;*/
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
}

.navbar .navbar-collapse .navbar-right>li:last-child {
    padding-left: 22px;
}

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse>li {
    float: right;
}

.btn.btn-circle {
    border-radius: 50px;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px, -50px);
}

.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px, 0px);
}

#fb-img {
    float: right;
    cursor: pointer;
    pointer-events: none;
}

#fb-img:hover {
    box-shadow: 0px 3px 6px #3b5998;
    transition: all .5s ease;
}

#google-img {
    cursor: pointer;
    border-radius: 3px;
}
#google-img:hover {
    box-shadow: 0px 3px 6px #555;
    transition: all .5s ease;
}
input[disabled] {
    pointer-events: none;
}

#main-content {
    margin-top: 3.6em;
    padding: 0;
}

body {
    background: rgb(238, 238, 238);
}

.disabledOpacity {
    opacity: 0.3
}

.sideBarImgClass {
    max-width: 9em;
    border-radius: 50%;
    margin: 0 auto;
    display: table;
}

ul.sidebar-comp {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul.sidebar-comp li {
    padding: 5px;
}

ul.sidebar-comp li i {
    vertical-align: bottom;
    margin-right: 5px;
}

ul.sidebar-comp li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sidebar-content {
    padding: 15px 15px 0 15px;
    background: #31708f;
    height: 100vh;
    color: #fff;
}

.material-icons {
    vertical-align: middle;
}

.dashboard-card-block {
    /*background: #fff;*/
    background: #f8f8ff;
    padding: 15px;
    margin-top: 24px;
    border-radius: 4px;
}

.dashboard-card-title {
    /*color: #029f5b;*/
    color: #212121;
    padding: 0;
    cursor: pointer;
    display: inline-block;
    margin-top: 0;
}

.dashboard-card-title:hover {
    text-decoration: underline;
}

.dashboard-card-text {
    padding: 0;
    margin-bottom: 16px;
}

.dashboard-card-img {
    padding: 0;
    width: 4em;
}

.dashboard-card-img img {
    border-radius: 25%;
}

.dashboard-card-block a i,
.create-btn i {
    margin-right: 5px;
}

.post-time {
    float: right;
}

.user-posts {
    margin: 24px 0;
}

.create-btn {
    float: right;
}

.post-form {
    display: none;
}

.userInfo {
    margin-top: 16px;
    text-align: center;
}

.createPost {
    background: rgba(33, 33, 33, .1);
    padding: 10px;
    border-radius: 4px;
}

.PostBody {
    resize: none;
    height: 5em;
}

.postTitle {
    padding: 0;
}

.comments {
    padding: 0;
}

.dashboard {
    margin-right: inherit !important;
    margin-left: inherit !important;
    padding: 0;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../asset/loader.gif') 50% 50% no-repeat rgba(33, 33, 33, .7);
}
.loaderSmall {
    position: absolute;
    left: 40%;
    top: 45%;
    width: 20%;
    height: 20%;
    z-index: 9999;
    background: url('../asset/Spinner.gif') 50% 50% no-repeat rgba(33,33,33,.1) ;
}

.alertFont {
    padding: 0.3em;
}

.cardUserName {
    padding: 0;
    margin-bottom: 10px;
}

.createComment {
    background: rgba(33, 33, 33, .1);
    margin: 24px 0;
    padding: 0 16px;
    border-radius: 4px;
}

.commentButton {
    margin: 16px 0;
}

.commentImage {
    width: 3em;
    padding: 0;
}

.commentImage img {
    border-radius: 25%;
}

.otherUserComment {
    margin: 10px 0 10px 10px;
    /*background: rgba(255, 255, 255, .5);*/
    /*background: linear-gradient(to bottom, #ddd, #f5f5f5);*/
    padding: 8px;
    border-radius: 4px;
    background: #fff;
    color: #212121;
}
.otherUserComment a i {
    margin-right: 5px;
}

.commentTitle {
    padding: 0;
    margin: 0;
}

.commentText {
    padding: 0;
}

.createComment textarea {
    resize: none;
    height: 5em;
}
a{
    cursor: pointer;
    color: #31708f;
}
.logOut:hover{
    background-color: #c9302c;
    border-color: #ac2925;
    color: #fff;
}
.alert-danger{
    margin: 15px;
}
.dashboard-card-text .more-text{
        display: none;
}
.likeSection{
    padding: 0;
}
.otherUserComment .commentTitle{
    color: #31708f;
}
.otherUserComment .material-icons{
    font-size: 16px;
}
label{
    font-weight: normal;
}
.primary-btn{
    background: #31708f;
    color: #fff;
}
.primary-btn:hover{
    background: #fff;
    color:  #31708f;
    border-color: #31708f;
}
.commentBody{
    padding-right: 0;
}
.commentCount{
    color: #212121;
}
/*CSS for customised Snackbar starts*/
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px;
    margin-left: -125px; 
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px; 
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
.logOutBtn{
    padding: 0;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*CSS for snackbar ends*/

/*CSS for customised Scrollbar starts*/

.scrollbar-customised::-webkit-scrollbar-track{
     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
     background-color: #FFFFFF;
}
.scrollbar-customised::-webkit-scrollbar{
    width: 6px;
    height: 3px;
    background-color: #212121;
}
.scrollbar-customised::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color:  #31708f;
}


/*CSS for customised Scrollbar ends*/

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right>li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }
    .navbar .nav-collapse .navbar-form {
        margin: 0;
    }
    .nav-collapse>li {
        float: none;
    }
    d .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%, 0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px, 0px);
    }
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px, -100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px, 0px);
    }
    .fb-btn {
        margin: 24px 0;
    }
    .otherUserComment{
        padding: 5px;
    }
    .material-icons{
        font-size: 16px !important;
    }    
    #google-img {
        margin: 0 auto;
        display: table;
        margin-bottom: 16px;
    }
    #fb-img {
        margin: 0 auto;
        display: table;
        float: none;
    }
}

@media only screen and (max-width:568px) {
    .title {
        font-family: Roboto-Bold;
        font-size: 1em;
        color: #37479e;
        transition: all .5s ease;
    }
    .subheader {
        font-family: Roboto-Medium;
        font-size: 1em;
        transition: all .5s ease;
    }
    .body1 {
        font-family: Roboto-Regular;
        font-size: 1em;
        transition: all .5s ease;
    }
    .body2 {
        font-family: Roboto-Medium;
        font-size: .875em;
        transition: all .5s ease;
    }
    .body3 {
        font-family: Roboto-Regular;
        font-size: .875em;
        transition: all .5s ease;
    }
    .caption {
        font-family: Roboto-Regular;
        font-size: .75em;
        transition: all .5s ease;
    }
    .interactive-text {
        font-family: Roboto-Medium;
        font-size: 1em;
        transition: all .5s ease;
    }
    .interactive-text2 {
        font-family: Roboto-Medium;
        font-size: .875em;
        transition: all .5s ease;
    }
    .dashboard-card-img {
        width: 3em;
    }
    .dashboard-card-block {
        padding: 5px;
    }
    .panel-login {
        margin: 16px;
    }
}

@media only screen and (min-width: 1400px) {
    #app {
        margin: 0 auto;
        display: table;
    }
}
